{% extends "master.html" %}

{% block title %}
  SALÁRIO LÍQUIDO
{% endblock %}

{% block content %}
    <h1
      style="
        font-family: 'Arial Black', sans-serif;
        font-size: 3em;
        color: #fdfdfd;
        text-transform: uppercase;
        text-align: center;
        animation: escrevendo 4s steps(40) forwards;
      "
    >
      Calculadora de saldo líquido
    </h1>
    <p>
      Esta calculadora permite que você calcule o seu saldo líquido, ou seja, a
      diferença entre a sua receita e a sua despesa, já descontando o imposto. O
      saldo líquido é um indicador da sua saúde financeira, pois mostra quanto
      você realmente ganha ou perde no final do mês.
    </p>
    <br />
    <h2>Para usar a calculadora, siga os seguintes passos:</h2>
    <br />
    <ol>
      <li>
        Digite a sua receita mensal no campo "Digite a sua receita mensal". A
        receita é o valor total que você recebe por mês, incluindo salário,
        rendimentos, aluguéis, pensões, etc.
      </li>
      <br />
      <li>
        Digite a sua despesa mensal no campo "Digite a sua despesa mensal". A
        despesa é o valor total que você gasta por mês, incluindo aluguel, água,
        luz, telefone, internet, alimentação, transporte, lazer, etc.
      </li>
      <br />
      <li>
        Digite o valor do imposto pago no campo "Digite o valor do imposto
        pago". O imposto é o valor que você paga ao governo por mês, incluindo
        imposto de renda, INSS, IPTU, IPVA, etc.
      </li>
      <br />
      <li>
        Clique no botão "Calcular". A calculadora vai mostrar o seu saldo
        líquido em uma janela de alerta.
      </li>
      <br />
    </ol>
    <br />
    <br />
    <br />
    <br />
    <form>
      <input
        type="number"
        id="receita"
        placeholder="Digite a sua receita mensal"
      />
      <input
        type="number"
        id="despesa"
        placeholder="Digite a sua despesa mensal"
      />
      <input
        type="number"
        id="imposto"
        placeholder="Digite o valor do imposto pago"
      />
      <button onclick="calcular()">Calcular</button>
    </form>
    <script>
      function calcular() {
        var receita = parseFloat(document.getElementById("receita").value);
        var despesa = parseFloat(document.getElementById("despesa").value);
        var imposto = parseFloat(document.getElementById("imposto").value);
        var saldo = receita - despesa - imposto;
        alert("O seu saldo líquido é: R$ " + saldo.toFixed(2));
      }
    </script>
{% endblock %}
