{% extends 'master-generic.html' %}

{% block title %}
  TESOURO DIRETO
{% endblock %}

{% block styles %}
  <style>
    body {
      background-color: #58af9b; /* Cor de fundo principal */
      color: whitesmoke; /* Cor do texto */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    h1 {
      color: #1a1a1a;
      background-color: whitesmoke;
      text-align: center;
      padding: 20px;
      font-size: 2.5em;
      margin-bottom: 10px; /* Adicionando um espaço entre o título e o conteúdo */
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho máximo da div pai */
      height: auto; /* Mantém a proporção da imagem */
      border-radius: 10px; /* Borda arredondada para a imagem */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave na imagem */
    }
    
    p {
      margin: 20px 0;
      text-align: justify;
    }
    
    table {
      border-collapse: collapse;
      width: 100%; /* Agora a tabela ocupa 100% da largura disponível */
      margin-top: 20px;
    }
    
    th,
    td {
      border: 1px solid #58af9b;
      padding: 15px;
      text-align: left;
    }
    
    th {
      background-color: #58af9b;
      color: #ecf0f1;
      text-align: center;
    }
    
    tr:nth-child(even) {
      background-color: #52a088;
    }
    
    tr:nth-child(odd) {
      background-color: #4c957f;
    }
    
    p:last-of-type {
      color: #ecf0f1;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      margin-top: 20px;
      background-color: #1a1a1a;
    }
    
    h2 {
      color: whitesmoke;
      margin-top: 20px;
    }
    
  </style>
{% endblock %}

{% block content %}
  <br />
  <h1>Tesouro Direto</h1>
  <p>O Tesouro Direto é um programa de investimento em títulos públicos federais, criado em 2002 pelo Tesouro Nacional em parceria com a BM&FBOVESPA. Seu propósito é facilitar o acesso de pequenos investidores a títulos públicos, considerados investimentos de baixo risco e com boa rentabilidade.</p>
  <div style="text-align: center;">
    <img src="../static/img/tesouro.png" alt="Minha Imagem" style="display: inline-block;" />
  </div>
  <p>Os títulos públicos são emitidos pelo governo federal para financiar atividades públicas, como saúde, educação e infraestrutura. Ao adquirir um título público, o investidor empresta dinheiro ao governo, recebendo juros em troca. Esses títulos apresentam diferentes prazos, taxas e formas de remuneração, sendo estas prefixadas, pós-fixadas ou híbridas.</p>
  <p>Para investir no Tesouro Direto, é necessário possuir uma conta em uma instituição financeira habilitada, chamada de agente de custódia, que intermediará as operações entre o investidor e o Tesouro Nacional. O investidor também deve se cadastrar no site do Tesouro Direto e ter acesso a uma plataforma de negociação online. O valor mínimo para investir é de R$ 30,00, e o máximo é de R$ 1 milhão por mês.</p>
  <p>Os principais benefícios do Tesouro Direto são:</p>
  <ul>
    <li>Segurança: títulos públicos são garantidos pelo governo federal, com baixo risco de calote;</li>
    <li>Rentabilidade: oferecem retornos atrativos em comparação a outros investimentos de renda fixa;</li>
    <li>Liquidez: podem ser vendidos diariamente ao Tesouro Nacional pelo preço de mercado;</li>
    <li>Diversidade: apresentam diferentes características para atender a diversos perfis e objetivos de investimento;</li>
    <li>Acessibilidade: podem ser adquiridos com valores baixos e sem taxas de administração.</li>
  </ul>
  <p>Os principais tipos de títulos públicos disponíveis no Tesouro Direto são:</p>
  <table>
    <tr>
      <th>Título</th>
      <th>Remuneração</th>
      <th>Prazo</th>
      <th>Indicado para</th>
    </tr>
    <tr>
      <td>Tesouro Selic</td>
      <td>Taxa Selic</td>
      <td>Curto prazo</td>
      <td>Reserva de emergência ou objetivos de curto prazo</td>
    </tr>
    <tr>
      <td>Tesouro Prefixado</td>
      <td>Taxa prefixada</td>
      <td>Médio prazo</td>
      <td>Objetivos de médio prazo ou quando se espera queda da taxa de juros</td>
    </tr>
    <tr>
      <td>Tesouro Prefixado com Juros Semestrais</td>
      <td>Taxa prefixada + juros semestrais</td>
      <td>Longo prazo</td>
      <td>Objetivos de longo prazo ou complemento de renda</td>
    </tr>
    <tr>
      <td>Tesouro IPCA+</td>
      <td>Taxa prefixada + IPCA</td>
      <td>Longo prazo</td>
      <td>Objetivos de longo prazo ou proteção contra a inflação</td>
    </tr>
    <tr>
      <td>Tesouro IPCA+ com Juros Semestrais</td>
      <td>Taxa prefixada + IPCA + juros semestrais</td>
      <td>Longo prazo</td>
      <td>Objetivos de longo prazo ou complemento de renda</td>
    </tr>
  </table>

  <p>Além das vantagens, é importante conhecer também as desvantagens de investir no Tesouro Direto. Veja alguns pontos que devem ser considerados:</p>
  <ul>
    <li>Limitação da rentabilidade: os títulos públicos têm um rendimento limitado pela taxa de juros ou pela inflação, o que pode ser insuficiente para atingir seus objetivos financeiros;</li>
    <li>Impacto da inflação: os títulos prefixados e os títulos atrelados à Selic não oferecem proteção contra a inflação, o que pode reduzir o poder de compra do seu dinheiro no futuro;</li>
    <li>Liquidez restrita: os títulos públicos só podem ser vendidos ao Tesouro Nacional, que pode pagar um preço diferente do contratado, dependendo das condições de mercado. Além disso, há um limite de horário para as operações de venda;</li>
    <li>Tributação: os títulos públicos estão sujeitos ao Imposto de Renda, que incide sobre os rendimentos, e ao IOF, que incide sobre o valor total em caso de resgate antes de 30 dias;</li>
    <li>Falta de diversificação: os títulos públicos representam apenas uma classe de ativos, a renda fixa. Para ter uma carteira mais equilibrada e rentável, é recomendável diversificar seus investimentos em outras classes, como renda variável, fundos imobiliários, etc.</li>
  </ul>
{% endblock %}

