{% extends "master.html" %}

{% block title %}
  TESOURO DIRETO
{% endblock %}

{% block content %}
  <h1 style="font-family: 'Arial Black', sans-serif; font-size: 3em; color: #fdfdfd; text-transform: uppercase; text-align: center; animation: escrevendo 4s steps(40) forwards;">Tesouro direto</h1>
  <p>O Tesouro Direto é um programa de investimento em títulos públicos federais criado em 2002 pelo Tesouro Nacional em
    parceria com a BM&FBOVESPA. O objetivo do programa é facilitar o acesso dos pequenos investidores aos títulos
    públicos, que são considerados investimentos de baixo risco e boa rentabilidade.</p>
  <div style="text-align: center;">
    <img src="C:/Users/Pichau/OneDrive/Documentos/GitHub/ProjetoFinanceiro-master/projeto/img/tesouro.png"
      alt="Minha Imagem" style="display: inline-block;">
  </div>
  <p>Os títulos públicos são emitidos pelo governo federal para financiar as atividades públicas, como saúde, educação,
    infraestrutura, etc. Ao comprar um título público, o investidor está emprestando dinheiro ao governo e recebendo
    juros em troca. Os títulos públicos têm diferentes prazos, taxas e formas de remuneração, que podem ser prefixadas,
    pós-fixadas ou híbridas.</p>
  <p>Para investir no Tesouro Direto, é preciso ter uma conta em uma instituição financeira habilitada, chamada de
    agente de custódia, que será responsável por intermediar as operações entre o investidor e o Tesouro Nacional. O
    investidor também precisa se cadastrar no site do Tesouro Direto e ter acesso a uma plataforma de negociação online.
    O valor mínimo para investir é de R$ 30,00 e o máximo é de R$ 1 milhão por mês.</p>
  <p>Os principais benefícios do Tesouro Direto são:</p>
  <ul>
    <li>Segurança: os títulos públicos são garantidos pelo governo federal, que tem baixo risco de calote;</li>
    <li>Rentabilidade: os títulos públicos oferecem retornos atrativos em relação a outros investimentos de renda fixa;
    </li>
    <li>Liquidez: os títulos públicos podem ser vendidos diariamente ao Tesouro Nacional pelo preço de mercado;</li>
    <li>Diversidade: os títulos públicos têm diferentes características que atendem a diferentes perfis e objetivos de
      investimento;</li>
    <li>Acessibilidade: os títulos públicos podem ser comprados com valores baixos e sem taxas de administração.</li>
  </ul>
  <p>Os principais tipos de títulos públicos disponíveis no Tesouro Direto são:</p>
  <table>
    <tr>
      <th>Título</th>
      <th>Remuneração</th>
      <th>Prazo</th>
      <th>Indicado para</th>
    </tr>
    <tr>
      <td>Tesouro Selic</td>
      <td>Taxa Selic</td>
      <td>Curto prazo</td>
      <td>Reserva de emergência ou objetivos de curto prazo</td>
    </tr>
    <tr>
      <td>Tesouro Prefixado</td>
      <td>Taxa prefixada</td>
      <td>Médio prazo</td>
      <td>Objetivos de médio prazo ou quando se espera queda da taxa de juros</td>
    </tr>
    <tr>
      <td>Tesouro Prefixado com Juros Semestrais</td>
      <td>Taxa prefixada + juros semestrais</td>
      <td>Longo prazo</td>
      <td>Objetivos de longo prazo ou complemento de renda</td>
    </tr>
    <tr>
      <td>Tesouro IPCA+</td>
      <td>Taxa prefixada + IPCA</td>
      <td>Longo prazo</td>
      <td>Objetivos de longo prazo ou proteção contra a inflação</td>
    </tr>
    <tr>
      <td>Tesouro IPCA+ com Juros Semestrais</td>
      <td>Taxa prefixada + IPCA + juros semestrais</td>
      <td>Longo prazo</td>
      <td>Objetivos de longo prazo ou complemento de renda</td>
    </tr>
  </table>

  <p>Além das vantagens, é importante conhecer também as desvantagens de investir no Tesouro Direto. Veja alguns pontos
    que devem ser considerados:</p>
  <ul>
    <li>Limitação da rentabilidade: os títulos públicos têm um rendimento limitado pela taxa de juros ou pela inflação,
      o que pode ser insuficiente para atingir seus objetivos financeiros;</li>
    <li>Impacto da inflação: os títulos prefixados e os títulos atrelados à Selic não oferecem proteção contra a
      inflação, o que pode reduzir o poder de compra do seu dinheiro no futuro;</li>
    <li>Liquidez restrita: os títulos públicos só podem ser vendidos ao Tesouro Nacional, que pode pagar um preço
      diferente do contratado, dependendo das condições de mercado. Além disso, há um limite de horário para as
      operações de venda;</li>
    <li>Tributação: os títulos públicos estão sujeitos ao Imposto de Renda, que incide sobre os rendimentos, e ao IOF,
      que incide sobre o valor total em caso de resgate antes de 30 dias;</li>
    <li>Falta de diversificação: os títulos públicos representam apenas uma classe de ativos, que é a renda fixa. Para
      ter uma carteira mais equilibrada e rentável, é recomendável diversificar seus investimentos em outras classes,
      como renda variável, fundos imobiliários, etc.</li>
  </ul>
  <p>Se você quiser saber mais sobre Tesouro direto,
    você pode fazer o login na nossa pagina e ter conteudo personalizado com o nosso ChatBoot. Tenha um ótimo dia! 😊</p>
{% endblock %}
