{% extends "master.html" %}

{% block title %}
  EDUCAÇÃO FINANCEIRA
{% endblock %}

{% block content %}
    <div class="inicial">
        <h1 style="text-align: center;">EDUCAÇÃO FINANCEIRA GRATUITA </h1>
        <p style="text-align: center;">Para se preparar para o futuro, não tem idade!</p> 
        <div class="alinhamento">
          <img src="../static/img/principal.png" alt="macbook" style="padding: 35px;"> 
          <div>
          <p style="padding: 30px; text-align: justify;">A educação financeira é uma jornada contínua que nos capacita a tomar decisões inteligentes sobre o nosso dinheiro. Ao entender os princípios básicos de gerenciamento financeiro, podemos construir uma base sólida para uma vida financeira saudável. Lembre-se de que a prática constante e a busca por conhecimento adicional são essenciais para alcançar sucesso financeiro a longo prazo.</p>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
    </div><br>

    <div id="services" class="container-fluid">
      <h1 style="text-align: center;">CONTEÚDO</h1>
      <h3 style="text-align: center;">Aprenda conosco com qualidade e de graça!</h3><br><br>
      <div class="cartoes">
          <div class="cardEdit slideanim">
              <div class="cardImg"><img src="../static/img/conteudo/planejamento.png" alt="phone"></div>
              <div class="cardDesc">
                  <h4><strong>Planejamento Finaceiro</strong></h4>
                  Para todos estágios de vida: Fornecendo orientação específica para jovens, casais, pais, pessoas em transição de carreira e aposentados. </div>
          </div>
          <div class="cardEdit slideanim">
              <div class="cardImg"><img src="../static/img/conteudo/investimento.png" alt="bootstrap3 logo"></div>
              <div class="cardDesc">
                  <h4><strong>Investimentos</strong></h4>
                 Diferentes tipos de investimentos, como ações, títulos, fundos mútuos, imóveis, criptomoedas. Orientação sobre como começar a investir e avaliar riscos e retornos. </div>
          </div>
          <div class="cardEdit slideanim">
              <div class="cardImg"><img src="../static/img/conteudo/ferramentas.png" alt="free logo"></div>
              <div class="cardDesc">
                  <h4><strong>Ferramentas</strong></h4>
Estratégias para economizar dinheiro: Ideias práticas para reduzir despesas e aumentar sua capacidade de poupança. </div>
          </div>
      </div>
    </div><br><br>

    <div id="about" class="container-fluid">
        <h1 style="text-align: center; color: white;">SOBRE</h1>
        <h3 style="text-align: center; color: white;">Quem somos?</h3>
        <div id="about-text">
          <p>Somos um instituição sem fins lucrativos, com um unico objetivo de espalhar a educação financeira para todos independente da idade ou classe social. Acreditamos na importância da educação financeira como uma ferramenta poderosa para transformar vidas. Ao fornecer recursos educacionais abrangentes, abordando tópicos como orçamento pessoal, investimentos, gestão de dívidas e renda extra, nosso objetivo é capacitar os visitantes do site a tomar decisões financeiras mais inteligentes e seguras. 
            Junte-se a nós nesta jornada em busca de uma vida financeira mais saudável e próspera. Comece explorando nosso conteúdo gratuito e aproveite os recursos disponíveis para impulsionar sua educação financeira. Estamos aqui para ajudar você em cada etapa do caminho!<br><br>
             </p>
            <img src="../static/img/about/graph.png" alt="about"  class="slideanim" style="padding: 35px; align-items: center;">
        </div>
    </div>

    <div id="contact" class="container-fluid bg-grey">
      <h2 class="text-center">CONTATO</h2><br><br>
      <div class="row">
        <div class="col-sm-5">
          <h3>Informações para parcerias</h3>
          <p style="color: #58af9b;">Ajude-nos a levar a educação financeira para todo o Brasil !</p><br>
          <p><span class="glyphicon glyphicon-map-marker"></span> Osasco, SP 00000-000 BR</p>
          <p><span class="glyphicon glyphicon-envelope"></span>  info@fatecosasco.com</p>
          <br>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="height:50px" id="svg1"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="height:50px" id="svg2"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="height:50px" id="svg3"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="height:50px" id="svg4"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM164 356c-55.3 0-100-44.7-100-100s44.7-100 100-100c27 0 49.5 9.8 67 26.2l-27.1 26.1c-7.4-7.1-20.3-15.4-39.8-15.4-34.1 0-61.9 28.2-61.9 63.2 0 34.9 27.8 63.2 61.9 63.2 39.6 0 54.4-28.5 56.8-43.1H164v-34.4h94.4c1 5 1.6 10.1 1.6 16.6 0 57.1-38.3 97.6-96 97.6zm220-81.8h-29v29h-29.2v-29h-29V245h29v-29H355v29h29v29.2z"/></svg>  
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Nome" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="text" onfocus="redefinirMsg()" required>
              <span id="error-email"></span>
            </div>
            <div class="col-sm-12 form-group">
              <input class="form-control" id="tel" name="tel" placeholder="Telefone" type="text" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Mensagem" rows="9"></textarea><br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <button class="btn btn-default pull-right" type="submit" id="botao">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../static/js/script.js">
    </script>

    <a class="go-top" href="#topo" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up" style="color:whitesmoke;"></span>
    </a><br>
    
{% endblock %}
