{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>
      {% block title %}
        PRINCIPAL
      {% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'style-pen.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>

  <body id="topo" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="container">
      <!-- Sample Content -->
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <h1 class="slideanim" style="text-align: center; color: #58af9b; margin-top: 50px;">EDUCAÇÃO FINANCEIRA GRATUITA</h1>
          </div>
          <div class="col-md-6">
            <h1 class="slideanim" style="text-align: center; color: #58af9b; margin-top: 50px;">IA GPT-4</h1><br />
            <p class="slideanim" style="text-align: center; font-weight: bold; font-size: 15px;">UTILIZAMOS O GPT-4 PARA GERAR CONTEÚDOS E INSTRUIR</p>
            <p class="slideanim" style="text-align: center; font-weight: bold; font-size: 15px;">TUDO ISSO DE FORMA GRATUITA!</p>
          </div>
        </div>
      </div>

      <div class="void">
        <div class="crop">
          <ul id="card-list" style="--count: 6;">
            <li>
              <div class="card">
                <a href="{% url 'chatbot' %}"><span class="model-name">ASSISTENTE FINANCEIRO</span><span>seu assistente virtual pessoal para finanças!</span></a>
              </div>
            </li>
            <li>
              <div class="card">
                <a href="{% url 'home' %}"><span class="model-name">HOME</span><span>entrar na página de conteúdos</span></a>
              </div>
            </li>
            <li>
              <div class="card">
                <a href="{% url 'login' %}"><span class="model-name">CADASTRO</span><span>cadastrar-se como usuario</span></a>
              </div>
            </li>
            <li>
              <div class="card">
                <a href="{% url 'login' %}"><span class="model-name">LOGIN</span><span>realizar login no sistema</span></a>
              </div>
            </li>
          </ul>
          <div class="last-circle"></div>
          <div class="second-circle"></div>
        </div>
        <div class="mask"></div>
        <div class="center-circle"></div>
      </div>
    </div>
  </body>
</html>
