{% extends "master.html" %}

{% block title %}
  PLAN ECONOMIZAR
{% endblock %}

{% block content %}
  <h1 style="font-family: 'Arial Black', sans-serif; font-size: 3em; color: #fdfdfd; text-transform: uppercase; text-align: center; animation: escrevendo 4s steps(40) forwards;">Aprenda a economizar</h1>
  <div style="text-align: center;">
    <img src="C:/Users/Pichau/OneDrive/Documentos/GitHub/ProjetoFinanceiro-master/projeto/img/eco.png" alt="Minha Imagem" style="display: inline-block;">
</div>
  <p>Economizar dinheiro é uma habilidade que pode trazer muitos benefícios para a sua vida financeira e pessoal. Você
    pode economizar para realizar seus sonhos, investir no seu futuro, ter uma reserva de emergência, ou simplesmente
    ter mais tranquilidade. Mas como economizar de forma eficiente e consistente? Aqui estão alguns tópicos e dicas que
    podem te ajudar:</p>
  <table>
    <tr>
      <th>Tópico</th>
      <th>Dica</th>
    </tr>
    <tr>
      <td>Planeje seu orçamento</td>
      <td>Anote todas as suas receitas e despesas mensais, e veja quanto você pode poupar por mês. Estabeleça uma meta
        de economia e se comprometa a cumpri-la.</td>
    </tr>
    <tr>
      <td>Controle seus gastos</td>
      <td>Evite gastar mais do que você ganha, e procure reduzir ou eliminar os gastos desnecessários. Use aplicativos
        ou planilhas para acompanhar seus gastos e identificar onde você pode economizar.</td>
    </tr>
    <tr>
      <td>Pague suas dívidas</td>
      <td>Se você tem dívidas, procure quitá-las o quanto antes, pois elas podem comprometer a sua capacidade de
        economizar. Negocie com os credores, renegocie os juros, e priorize as dívidas mais caras.</td>
    </tr>
    <tr>
      <td>Invista seu dinheiro</td>
      <td>Não deixe o seu dinheiro parado na conta corrente ou na poupança, pois ele pode perder valor com a inflação.
        Busque opções de investimento que se adequem ao seu perfil e aos seus objetivos, e faça o seu dinheiro render
        mais.</td>
    </tr>
    <tr>
      <td>Consuma de forma consciente</td>
      <td>Antes de comprar algo, pergunte-se se você realmente precisa, se pode pagar, e se vale a pena. Compare preços,
        pesquise sobre a qualidade, e aproveite as promoções. Evite compras por impulso ou por emoção.</td>
    </tr>
    <tr>
      <td>Economize no transporte</td>
      <td>Escolha o meio de transporte mais adequado para cada ocasião, considerando o custo, o tempo e o conforto. Se
        possível, use transporte público, bicicleta ou caminhada. Se tiver carro, faça manutenções periódicas, planeje
        seus trajetos e compartilhe as viagens com outras pessoas. Se usar aplicativos de transporte, evite horários de
        pico e use cupons de desconto.</td>
    </tr>
  </table>
  <p>Agora que você já sabe algumas dicas de como economizar, vamos ver quais são as vantagens e desvantagens de
    economizar. Economizar pode trazer muitos benefícios, mas também pode ter alguns custos. Veja a seguir:</p>
  <table>
    <tr>
      <th>Vantagens</th>
      <th>Desvantagens</th>
    </tr>
    <tr>
      <td>Você pode realizar seus sonhos, como viajar, comprar um carro, uma casa, ou fazer um curso.</td>
      <td>Você pode ter que abrir mão de alguns prazeres imediatos, como sair, comer fora, ou comprar coisas que você
        gosta.</td>
    </tr>
    <tr>
      <td>Você pode investir no seu futuro, como aposentadoria, educação, ou negócio próprio.</td>
      <td>Você pode correr o risco de perder dinheiro com investimentos mal feitos, ou com a inflação e a taxa de juros.
      </td>
    </tr>
    <tr>
      <td>Você pode ter uma reserva de emergência, para lidar com imprevistos, como doenças, acidentes, ou desemprego.
      </td>
      <td>Você pode ficar obcecado com a economia, e se privar de coisas que são importantes para a sua saúde,
        bem-estar, ou relacionamentos.</td>
    </tr>
    <tr>
      <td>Você pode ter mais tranquilidade, sabendo que tem dinheiro suficiente para as suas necessidades e desejos.
      </td>
      <td>Você pode perder oportunidades de aproveitar a vida, como conhecer novos lugares, pessoas, ou experiências.
      </td>
    </tr>
  </table>
  <h2>Como economizar no supermercado ?</h2>
  <p>Defina uma meta de orçamento: antes de ir ao supermercado, estabeleça quanto você pode gastar e se comprometa a não ultrapassar esse valor. Isso vai te ajudar a controlar seus impulsos e a priorizar o que é essencial.</p>
  <p>Planeje as compras: faça uma lista dos produtos que você precisa comprar e siga-a à risca. Evite comprar itens que não estão na lista, a não ser que sejam realmente necessários. Além disso, planeje um cardápio semanal com as refeições que você vai preparar, assim você evita desperdício e compra apenas os ingredientes que vai usar.</p>
  <p>Escolha ao menos três supermercados para a pesquisa de preço: compare os preços dos produtos que você precisa em diferentes estabelecimentos e escolha o que oferece o melhor custo-benefício. Você pode usar ferramentas online para fazer essa pesquisa, como o guia de supermercado da Proteste1.</p>
  <p>Não vá de estômago vazio: quando você faz compras com fome, você tende a comprar mais do que precisa e a se deixar levar por produtos que não são saudáveis nem econômicos. Por isso, alimente-se bem antes de ir ao supermercado e evite cair em tentações.</p>
  <p>Fique atento aos “truques” dos estabelecimentos: os supermercados usam várias estratégias para induzir o consumidor a gastar mais, como colocar os produtos mais caros na altura dos olhos, oferecer degustações, tocar músicas relaxantes, entre outras. Não se deixe enganar por esses truques e foque na sua lista de compras.</p>
  <p>Cuidado com as práticas abusivas: alguns supermercados podem tentar vender produtos vencidos, danificados ou com preços diferentes do anunciado. Fique atento à validade, à qualidade e ao valor dos produtos que você compra e exija seus direitos de consumidor se perceber alguma irregularidade.</p>
  <p>Não tenha hora certa e nem tempo máximo para as compras: se você for ao supermercado em horários de pico, como no fim do dia ou no fim de semana, você pode enfrentar filas, estresse e pressa, o que pode prejudicar suas escolhas. Prefira ir em horários mais tranquilos, como pela manhã ou no meio da semana, e reserve um tempo suficiente para fazer as compras com calma e atenção.</p>
  <p>Aproveite o dia de promoções: muitos supermercados têm dias especiais de desconto em determinados produtos, como hortifrúti, carnes, laticínios, etc. Se você puder, aproveite essas promoções para comprar os produtos que você precisa com preços mais baixos. Mas cuidado para não comprar mais do que o necessário só porque está em promoção.</p>
  <p>Evite compras mensais ou muito grandes: quando você faz compras muito grandes ou mensais, você corre o risco de comprar produtos que não vai usar, que podem estragar ou que podem ficar esquecidos no fundo do armário. Além disso, você pode perder o controle do seu orçamento e gastar mais do que deveria. O ideal é fazer compras semanais ou quinzenais, comprando apenas o que você vai consumir nesse período.</p>
  <p>Troque as marcas mais caras pelas mais baratas: muitas vezes, os produtos de marcas mais conhecidas ou mais anunciadas são mais caros do que os de marcas menos famosas ou genéricas, mas não necessariamente têm mais qualidade ou sabor. Experimente trocar as marcas mais caras pelas mais baratas e veja se você nota alguma diferença. Você pode se surpreender e economizar bastante.</p>
  <p>Se você quiser saber mais sobre como economizar seu dinheiro,
    você pode fazer o login na nossa pagina e ter conteudo personalizado com o nosso ChatBoot. Tenha um ótimo dia! 😊</p>
{% endblock %}
