{% extends 'master-generic.html' %}

{% block title %}
  PLAN ECONOMIZAR
{% endblock %}

{% block styles %}
  <style>
    body {
      background-color: #58af9b; /* Cor de fundo principal */
      color: whitesmoke; /* Cor do texto */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    h1 {
      color: black;
      background-color: whitesmoke;
      text-align: center;
      padding: 20px;
      font-size: 2.5em;
      margin-bottom: 10px; /* Adicionando um espaço entre o título e o conteúdo */
    }
    
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho máximo da div pai */
      height: auto; /* Mantém a proporção da imagem */
      border-radius: 10px; /* Borda arredondada para a imagem */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave na imagem */
    }
    
    p {
      margin: 20px 0;
      text-align: justify;
    }
    
    table {
      border-collapse: collapse;
      width: 100%; /* Agora a tabela ocupa 100% da largura disponível */
      margin-top: 20px;
    }
    
    th,
    td {
      border: 1px solid #58af9b;
      padding: 15px;
      text-align: left;
    }
    
    th {
      background-color: #58af9b;
      color: #ecf0f1;
      text-align: center;
    }
    
    tr:nth-child(even) {
      background-color: #52a088;
    }
    
    tr:nth-child(odd) {
      background-color: #4c957f;
    }
    
    p:last-of-type {
      background-color: black;
      color: #ecf0f1;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      margin-top: 20px;
    }
    
    h2 {
      color: whitesmoke;
      margin-top: 20px;
    }
  </style>
{% endblock %}

{% block content %}
  <br />
  <h1>Aprenda a Economizar</h1>
  <img src="../static/img/eco.png" alt="Minha Imagem" /><br /><br />
  <p>Economizar dinheiro é uma habilidade que pode trazer muitos benefícios para sua vida financeira e pessoal. Pode ser para realizar sonhos, investir no futuro, criar uma reserva de emergência ou simplesmente ter mais tranquilidade. Mas como economizar de forma eficiente e consistente? Aqui estão algumas dicas que podem te ajudar:</p>
  <table>
    <tr>
      <th>Tópico</th>
      <th>Dica</th>
    </tr>
    <tr>
      <td>Planeje seu orçamento</td>
      <td>Anote todas as receitas e despesas mensais, veja quanto pode poupar por mês e estabeleça uma meta de economia.</td>
    </tr>
    <tr>
      <td>Controle seus gastos</td>
      <td>Evite gastar mais do que ganha, reduza ou elimine gastos desnecessários e utilize aplicativos ou planilhas para acompanhar suas despesas.</td>
    </tr>
    <tr>
      <td>Pague suas dívidas</td>
      <td>Procure quitar dívidas rapidamente, negocie com credores, renegocie juros e priorize dívidas mais caras.</td>
    </tr>
    <tr>
      <td>Invista seu dinheiro</td>
      <td>Não deixe dinheiro parado na conta corrente ou poupança. Busque investimentos adequados ao seu perfil para fazer seu dinheiro render mais.</td>
    </tr>
    <tr>
      <td>Consuma de forma consciente</td>
      <td>Antes de comprar, questione se realmente precisa, se pode pagar e se vale a pena. Compare preços, pesquise sobre qualidade e evite compras por impulso ou emoção.</td>
    </tr>
    <tr>
      <td>Economize no transporte</td>
      <td>Escolha o meio de transporte mais adequado considerando custo, tempo e conforto. Se possível, use transporte público, bicicleta ou caminhada. Se tiver carro, faça manutenções periódicas e planeje trajetos. Use cupons de desconto ao usar aplicativos de transporte.</td>
    </tr>
  </table><br /><br />
  <p>Agora que você conhece algumas dicas de economia, veja as vantagens e desvantagens:</p>
  <table>
    <tr>
      <th>Vantagens</th>
      <th>Desvantagens</th>
    </tr>
    <tr>
      <td>Realizar sonhos, como viajar, comprar carro, casa ou fazer um curso.</td>
      <td>Pode abrir mão de prazeres imediatos, como sair ou comer fora.</td>
    </tr>
    <tr>
      <td>Investir no futuro, como aposentadoria, educação ou negócio próprio.</td>
      <td>Risco de perder dinheiro com investimentos mal feitos, inflação e taxa de juros.</td>
    </tr>
    <tr>
      <td>Ter uma reserva de emergência para imprevistos.</td>
      <td>Pode ficar obcecado com economia e se privar de coisas importantes para saúde e relacionamentos.</td>
    </tr>
    <tr>
      <td>Ter tranquilidade com dinheiro suficiente para necessidades e desejos.</td>
      <td>Pode perder oportunidades de aproveitar a vida.</td>
    </tr>
  </table><br /><br />
  <h2>Como Economizar no Supermercado?</h2>
  <p>Defina uma meta de orçamento antes de ir ao supermercado e comprometa-se a não ultrapassá-la. Isso ajuda a controlar impulsos e priorizar o essencial.</p>
  <p>Planeje as compras: faça uma lista dos produtos que você precisa comprar e siga-a à risca. Evite comprar itens que não estão na lista, a não ser que sejam realmente necessários. Além disso, planeje um cardápio semanal com as refeições que você vai preparar, assim você evita desperdício e compra apenas os ingredientes que vai usar.</p>
  <p>Escolha ao menos três supermercados para a pesquisa de preço: compare os preços dos produtos que você precisa em diferentes estabelecimentos e escolha o que oferece o melhor custo-benefício. Você pode usar ferramentas online para fazer essa pesquisa, como o guia de supermercado da Proteste1.</p>
  <p>Não vá de estômago vazio: quando você faz compras com fome, você tende a comprar mais do que precisa e a se deixar levar por produtos que não são saudáveis nem econômicos. Por isso, alimente-se bem antes de ir ao supermercado e evite cair em tentações.</p>
  <p>Fique atento aos “truques” dos estabelecimentos: os supermercados usam várias estratégias para induzir o consumidor a gastar mais, como colocar os produtos mais caros na altura dos olhos, oferecer degustações, tocar músicas relaxantes, entre outras. Não se deixe enganar por esses truques e foque na sua lista de compras.</p>
  <p>Cuidado com as práticas abusivas: alguns supermercados podem tentar vender produtos vencidos, danificados ou com preços diferentes do anunciado. Fique atento à validade, à qualidade e ao valor dos produtos que você compra e exija seus direitos de consumidor se perceber alguma irregularidade.</p>
  <p>Não tenha hora certa e nem tempo máximo para as compras: se você for ao supermercado em horários de pico, como no fim do dia ou no fim de semana, você pode enfrentar filas, estresse e pressa, o que pode prejudicar suas escolhas. Prefira ir em horários mais tranquilos, como pela manhã ou no meio da semana, e reserve um tempo suficiente para fazer as compras com calma e atenção.</p>
  <p>Aproveite o dia de promoções: muitos supermercados têm dias especiais de desconto em determinados produtos, como hortifrúti, carnes, laticínios, etc. Se você puder, aproveite essas promoções para comprar os produtos que você precisa com preços mais baixos. Mas cuidado para não comprar mais do que o necessário só porque está em promoção.</p>
  <p>Evite compras mensais ou muito grandes: quando você faz compras muito grandes ou mensais, você corre o risco de comprar produtos que não vai usar, que podem estragar ou que podem ficar esquecidos no fundo do armário. Além disso, você pode perder o controle do seu orçamento e gastar mais do que deveria. O ideal é fazer compras semanais ou quinzenais, comprando apenas o que você vai consumir nesse período.</p>
  <p>Troque as marcas mais caras pelas mais baratas: muitas vezes, os produtos de marcas mais conhecidas ou mais anunciadas são mais caros do que os de marcas menos famosas ou genéricas, mas não necessariamente têm mais qualidade ou sabor. Experimente trocar as marcas mais caras pelas mais baratas e veja se você nota alguma diferença. Você pode se surpreender e economizar bastante.</p>
{% endblock %}
