{% extends "master.html" %}

{% block title %}
  NEGOCIAR DIVIDAS
{% endblock %}

{% block content %}
  <h1 style="font-family: 'Arial Black', sans-serif; font-size: 3em; color: #fdfdfd; text-transform: uppercase; text-align: center; animation: escrevendo 4s steps(40) forwards;"> Como renegociar dividas</h1>
    <div style="text-align: center;">
      <img src="C:/Users/Pichau/OneDrive/Documentos/GitHub/ProjetoFinanceiro-master/projeto/img/div.png" alt="Minha Imagem" style="display: inline-block;">
  </div>
  <h2>Renegociar as dívidas é uma forma de sair do vermelho e recuperar o seu crédito.</h2>
    <p>Aqui estão alguns passos e dicas que podem te ajudar:</p>
  <ul>
    <li><strong>Faça um levantamento de suas dívidas</strong>: Anote todas as suas dívidas, os valores, os juros, as
      multas, os prazos e os credores. Assim, você terá uma visão geral da sua situação financeira e poderá planejar a
      sua renegociação.</li>
      <br>
      <br>
    <li><strong>Encontre a melhor forma de negociar</strong>: Existem diferentes formas de negociar as suas dívidas,
      dependendo do tipo, do valor e do credor. Você pode entrar em contato direto com o credor, usar plataformas
      online, participar de feirões de renegociação, ou aderir a programas do governo, como o Desenrola Brasil. Escolha
      a forma que mais se adapta ao seu caso e que oferece as melhores condições.</li>
      <br>
      <br>
    <li><strong>Saiba qual o Custo Efetivo Total</strong>: O Custo Efetivo Total (CET) é o valor total que você vai
      pagar pela dívida, incluindo juros, taxas, impostos e outros encargos. É importante saber o CET para comparar as
      propostas de renegociação e escolher a mais vantajosa. Você pode usar simuladores online para calcular o CET, como
      o do Banco Central.</li>
      <br>
      <br>
    <li><strong>Priorize as dívidas com as maiores taxas de juros</strong>: As dívidas com as maiores taxas de juros são
      as que mais pesam no seu bolso e que mais crescem com o tempo. Por isso, é recomendável que você priorize a
      renegociação dessas dívidas, como as de cartão de crédito, cheque especial, empréstimo pessoal, entre outras.
      Assim, você evita o efeito bola de neve e economiza dinheiro.</li>
      <br>
      <br>
    <li><strong>Defina uma meta de poupança mensal</strong>: Para renegociar as suas dívidas, você precisa ter uma
      reserva de dinheiro para pagar as parcelas ou os valores à vista. Por isso, é importante que você defina uma meta
      de poupança mensal, que seja compatível com a sua renda e com o seu orçamento. Você pode usar aplicativos ou
      planilhas para controlar as suas receitas e despesas, e cortar os gastos desnecessários.</li>
      <br>
      <br>
    <li><strong>Negocie com os credores</strong>: Depois de escolher a forma de negociação e ter uma reserva de
      dinheiro, você pode entrar em contato com os seus credores e fazer uma proposta de renegociação. Seja honesto,
      educado e firme. Explique a sua situação, mostre a sua intenção de pagar, e peça descontos, redução de juros,
      aumento de prazo, ou outras facilidades. Não aceite uma proposta que você não possa cumprir, e exija um contrato
      por escrito.</li>
      <br>
      <br>
    <li><strong>Troque dívidas caras por mais baratas</strong>: Uma alternativa para renegociar as suas dívidas é trocar
      as dívidas caras por mais baratas. Isso significa pegar um empréstimo com juros menores para quitar as dívidas com
      juros maiores. Por exemplo, você pode usar o crédito consignado, o refinanciamento de imóvel ou de veículo, ou o
      empréstimo com garantia, para pagar o cartão de crédito ou o cheque especial. Mas cuidado para não se endividar
      ainda mais, e compare o CET das opções.</li>
      <br>
      <br>
    <li><strong>Monte um planejamento</strong>: Depois de renegociar as suas dívidas, você precisa montar um
      planejamento para pagar as parcelas em dia e evitar novas dívidas. Estabeleça metas, prazos e prioridades. Reserve
      uma parte da sua renda para a quitação das dívidas, e outra para a formação de uma reserva de emergência. Tenha
      disciplina, controle e organização. Use ferramentas que te ajudem a acompanhar o seu progresso, como o SPC
      Consumidor.</li>
      <br>
    
  </ul>
  <p>Agora que você já sabe alguns passos e dicas de como renegociar as dívidas, vamos ver quais são as vantagens e desvantagens de renegociar as dívidas. Renegociar as dívidas pode trazer muitos benefícios, mas também pode ter alguns custos. Veja a seguir:</p>
  <table>
      <tr>
          <th>Vantagens</th>
          <th>Desvantagens</th>
      </tr>
      <tr>
          <td>Você pode recuperar o seu crédito e limpar o seu nome, podendo ter acesso a melhores condições de financiamento, empréstimo, cartão de crédito, entre outros.</td>
          <td>Você pode ter que pagar taxas, multas ou juros adicionais pela renegociação, dependendo do tipo de dívida e do credor.</td>
      </tr>
      <tr>
          <td>Você pode obter uma redução na quantidade de dívida que deverá pagar, já que a taxa de juros cobrada pelas instituições financeiras pode estar abusiva.</td>
          <td>Você pode ter que comprometer uma parte da sua renda por um período mais longo, se optar por parcelar a dívida renegociada.</td>
      </tr>
      <tr>
          <td>Você pode ter mais tranquilidade e organização financeira, evitando o estresse e o descontrole que as dívidas causam.</td>
          <td>Você pode ter que abrir mão de alguns gastos ou investimentos que deseja fazer, para priorizar o pagamento da dívida renegociada.</td>
      </tr>
      <tr>
          <td>Você pode melhorar a sua educação financeira, aprendendo a evitar novas dívidas e a planejar melhor o seu orçamento.</td>
          <td>Você pode ter dificuldade em negociar com os credores, se eles não forem flexíveis ou se não oferecerem boas condições.</td>
      </tr>
  </table>
  <p>Se você quiser saber mais sobre como renegociar suas dividas,
    você pode fazer o login na nossa pagina e ter conteudo personalizado com o nosso ChatBoot. Tenha um ótimo dia! 😊</p>
{% endblock %}
